n8n_templates/trigger_scraper_pipeline.json
{
  "name": "Legal Scraper - Trigger Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LEGAL_SCRAPER_API_URL || 'http://api:8000' }}/api/n8n/trigger-pipeline",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: $json.source || 'dof', max_results: $json.max_results || 100, mode: $json.mode || 'today', callback_url: $env.N8N_WEBHOOK_URL + '/webhook/scraper-callback' }) }}"
      },
      "id": "trigger-pipeline",
      "name": "Trigger Scraper Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "Legal Scraper API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assignment-1",
              "name": "workflow_id",
              "value": "={{ $json.workflow_id }}",
              "type": "string"
            },
            {
              "id": "assignment-2",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "assignment-3",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-success",
      "name": "Pipeline Started",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assignment-error",
              "name": "error",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-error",
      "name": "Pipeline Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 400]
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Trigger Scraper Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Scraper Pipeline": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Pipeline Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pipeline Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "legal-scraper-template"
  },
  "tags": [
    {
      "name": "legal-scraper",
      "id": "1"
    }
  ]
}
